<div class="row">
    <div class="col-md-3">
        <a href="https://pngtree.com/free-vectors"><span class="hipster img-fluid rounded"></span></a>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, to FitBlog!</h1>
        <p class="lead">Start sharing diets, excercises and experience with others!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div *ngSwitchCase="false">
                <button type="button" class="btn btn-outline-primary btn-lg" (click)="login()">Login</button>
            </div>
            <br>
            <br>
            <div *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="text-primary" routerLink="register">Register now</a>
            </div>
        </div>

    </div>
</div>
