<div>
    <h2 id="page-heading">
        <span>Posts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry" [routerLink]="['/entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fitblogApp.entry.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="entries">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let entry of entries; trackBy: trackId">
                <h2>{{entry.title}}</h2>
                <small>Posted on {{entry.date | date: 'short'}} by {{entry.blog.user.login}}</small>
                <div [innerHTML]="entry.content"></div>
                <div class="btn-group mb-2 mt-1">
                    <button type="submit"
                            [routerLink]="['/entry', entry.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'entry/'+ entry.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
